.Wrapper {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    border: solid;
    grid-row-gap: 30px;
}

.header {
    background-color: #523737;
}

.header_top {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    border: solid;
    color: white;
}

.header_bottom {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    border: solid;
    color: white;
}

.search-bar i {
    positon: absolute;
    top: 20px;
    left: 40px;
    color: grey;
}

.friend_section_row img {}

.item:nth-child(3) {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;


}